.chat-main
  .chat-main__header
    .chat-main__header__left-box
      .chat-main__header__left-box__name
        test
      .chat-main__header__left-box__chat-member
        Members:
        - @group.users.each do |user|
          %span.chat-main__header__left-box__chat-member__a 
            = user.name
    
    
      = link_to edit_group_path(@group) do
        .chat-main__header__btn-edit
          Edit
  .chat-main__message-list
    = render @messages

  .chat-main__form
    = form_for [@group, @message] , html:{class:"input-box"} do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      .input-box__image    
        = f.label :image, class: 'inout__box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'chat-main__form__submit-btn'

      